In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("deliveries.csv", encoding='iso-8859-1')

In [3]:
data.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [4]:
runs = data.groupby('batsman') #here it has the data according to the batsman

In [5]:
runs.get_group('V Kohli')

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
2590,12,1,Royal Challengers Bangalore,Mumbai Indians,1,2,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
2591,12,1,Royal Challengers Bangalore,Mumbai Indians,1,3,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2593,12,1,Royal Challengers Bangalore,Mumbai Indians,1,5,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2594,12,1,Royal Challengers Bangalore,Mumbai Indians,1,6,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2597,12,1,Royal Challengers Bangalore,Mumbai Indians,2,1,V Kohli,CH Gayle,Harbhajan Singh,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150410,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,12,5,V Kohli,AB de Villiers,Bipul Sharma,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150413,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,2,V Kohli,AB de Villiers,BB Sran,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
150414,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,3,V Kohli,AB de Villiers,BB Sran,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150415,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,4,V Kohli,AB de Villiers,BB Sran,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150416,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,5,V Kohli,AB de Villiers,BB Sran,0,...,0,0,0,0,0,0,0,V Kohli,bowled,NaN

In [6]:
runs['batsman_runs'].sum()['V Kohli']

4423

In [7]:
runs.first()

,match_id,inning,batting_team,bowling_team,over,ball,non_striker,bowler,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
batsman,,,,,,,,,,,,,,,,,,,,
A Ashish Reddy,346,1,Deccan Chargers,Mumbai Indians,14,1,JP Duminy,RJ Peterson,0,0,0,0,0,0,0,0,0,A Ashish Reddy,caught,RG Sharma
A Chandila,373,1,Rajasthan Royals,Deccan Chargers,20,6,OA Shah,V Pratap Singh,0,0,0,0,0,0,0,0,0,OA Shah,run out,PA Patel
A Chopra,88,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,1,BJ Hodge,DW Steyn,0,0,0,0,0,0,0,0,0,A Chopra,lbw,HH Gibbs
A Choudhary,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,YS Chahal,BCJ Cutting,0,0,0,0,0,0,6,0,6,YS Chahal,run out,CJ Jordan (sub)
A Flintoff,118,2,Chennai Super Kings,Mumbai Indians,4,1,ML Hayden,Z Khan,0,0,0,0,0,0,0,0,0,A Flintoff,caught and bowled,DA Warner (sub)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YV Takawale,82,1,Mumbai Indians,Delhi Daredevils,1,1,ST Jayasuriya,GD McGrath,0,0,0,0,0,0,0,0,0,YV Takawale,caught,PJ Sangwan
Yashpal Singh,126,2,Kolkata Knight Riders,Rajasthan Royals,15,2,SC Ganguly,AD Mascarenhas,0,0,0,0,0,0,0,0,0,Yashpal Singh,caught,AS Raut
Younis Khan,97,2,Rajasthan Royals,Kings XI Punjab,2,4,Niraj Patel,S Sreesanth,0,0,0,0,0,0,1,0,1,Younis Khan,bowled,None
Yuvraj Singh,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,11,5,MC Henriques,STR Binny,0,0,0,0,0,0,2,0,2,Yuvraj Singh,bowled,R Dhawan (sub)
Z Khan,5,2,Delhi Daredevils,Royal Challengers Bangalore,20,5,A Mishra,P Negi,0,0,0,0,0,0,1,0,1,Z Khan,caught,N Rana

In [8]:
mask = data["batsman_runs"] == 4

In [9]:
new_data = data[mask]

In [10]:
(new_data.groupby('batsman')['batsman_runs'].count()).sort_values(ascending=False).head(5)

batsman
G Gambhir    484
SK Raina     402
DA Warner    401
S Dhawan     401
V Kohli      384
Name: batsman_runs, dtype: int64

In [11]:
new_data['batsman'].value_counts().sort_values(ascending=False).head(5)

G Gambhir    484
SK Raina     402
DA Warner    401
S Dhawan     401
V Kohli      384
Name: batsman, dtype: int64

In [12]:
mask1 = data['dismissal_kind'] == 'caught'
mask2 = data['dismissal_kind'] == 'bowled'
mask3 = data['dismissal_kind'] == 'caught and bowled'
mask4 = data['dismissal_kind'] == 'run out'
mask5 = data['dismissal_kind'] == 'lbw'
mask6 = data['dismissal_kind'] == 'stumped'
mask7 = data['dismissal_kind'] == 'retired hurt'
mask8 = data['dismissal_kind'] == 'hit wicket'
mask9 = data['dismissal_kind'] == 'obstructing the field'

In [13]:
d=data.groupby('dismissal_kind')

In [14]:
d= data[mask1 | mask2 | mask3 | mask4 | mask5 | mask6 | mask7 | mask8 | mask9 ]

In [15]:
d['bowler'].value_counts().sort_values(ascending=False).head(5)

SL Malinga         170
A Mishra           142
DJ Bravo           137
Harbhajan Singh    136
PP Chawla          133
Name: bowler, dtype: int64

In [16]:
#let's find the most destrutive batsman in ipl history
#we are looking for the player who's strike rate=(runs/no of ball) is greatest in 16-20 over and has played more than 200 balls overall

In [17]:
delivery = data[data['over']>15]

In [18]:
all_batsman = delivery.groupby('batsman')['batsman_runs'].count()
msk = all_batsman>200 #because we want batsman who's played more than 200 balls 
batsman_detail = all_batsman[msk]
batsman_list = batsman_detail[msk].index.tolist() #have all the names of batsman who played more than 200 balls 
count_run = delivery.groupby('batsman')['batsman_runs'].sum() # summing all the runs
count_run = count_run[msk] #masking to the players who have played more than 200 balls
batsman_list

['A Mishra',
 'AB de Villiers',
 'AD Mathews',
 'AM Rahane',
 'AR Patel',
 'AT Rayudu',
 'BJ Hodge',
 'DA Miller',
 'DA Warner',
 'DJ Bravo',
 'DJ Hussey',
 'DPMD Jayawardene',
 'Harbhajan Singh',
 'IK Pathan',
 'JA Morkel',
 'JH Kallis',
 'JP Duminy',
 'JP Faulkner',
 'KA Pollard',
 'KD Karthik',
 'KM Jadhav',
 'LRPL Taylor',
 'MK Pandey',
 'MK Tiwary',
 'MS Dhoni',
 'NV Ojha',
 'P Kumar',
 'PP Chawla',
 'R Vinay Kumar',
 'RA Jadeja',
 'RG Sharma',
 'RV Uthappa',
 'S Badrinath',
 'S Dhawan',
 'SK Raina',
 'SPD Smith',
 'SS Tiwary',
 'STR Binny',
 'V Kohli',
 'WP Saha',
 'Y Venugopal Rao',
 'YK Pathan',
 'Yuvraj Singh']

In [19]:
def result(batsman):
    balls = batsman_detail[batsman]
    runs = count_run[batsman]
    return (runs/balls)*100

In [37]:

sr = (count_run/batsman_detail)*100
sr

batsman
A Mishra            100.888889
AB de Villiers      211.052632
AD Mathews          147.058824
AM Rahane           152.985075
AR Patel            142.794760
AT Rayudu           165.411765
BJ Hodge            157.402597
DA Miller           186.666667
DA Warner           189.473684
DJ Bravo            167.726161
DJ Hussey           175.213675
DPMD Jayawardene    152.032520
Harbhajan Singh     147.607656
IK Pathan           142.580645
JA Morkel           149.882353
JH Kallis           170.562771
JP Duminy           167.760618
JP Faulkner         149.319728
KA Pollard          161.336516
KD Karthik          152.051836
KM Jadhav           144.378698
LRPL Taylor         152.941176
MK Pandey           151.785714
MK Tiwary           140.189125
MS Dhoni            169.607843
NV Ojha             134.868421
P Kumar             109.701493
PP Chawla           120.257235
R Vinay Kumar       108.936170
RA Jadeja           130.729167
RG Sharma           175.668449
RV Uthappa          173.454545
S Badrinath         149.116608
S Dhawan            158.847737
SK Raina            167.467249
SPD Smith           169.303797
SS Tiwary           136.666667
STR Binny           144.036697
V Kohli             181.868132
WP Saha             163.389831
Y Venugopal Rao     148.846154
YK Pathan           159.246575
Yuvraj Singh        171.124031
Name: batsman_runs, dtype: float64

In [20]:
name =""
max_strike = 0.0
for i in range(len(batsman_list)):
    rate = result(i)
    if (rate>max_strike):
        max_strike = rate
        name = batsman_list[i]
    
print(name, max_strike)

AB de Villiers 211.05263157894737

In [21]:
#lets do the same thing using isin() function 
#we have the list of all batsman who played more than 200 balls and want to calculate runs and ball played by all 43 batsman
final = delivery[delivery['batsman'].isin(batsman_list)]
batsman_detail.shape

(43,)

In [22]:
balls =  final.groupby('batsman')['batsman_runs'].count()
runs = final.groupby('batsman')['batsman_runs'].sum()

In [23]:
 sr =(runs/balls)*100

In [24]:
sr

batsman
A Mishra            100.888889
AB de Villiers      211.052632
AD Mathews          147.058824
AM Rahane           152.985075
AR Patel            142.794760
AT Rayudu           165.411765
BJ Hodge            157.402597
DA Miller           186.666667
DA Warner           189.473684
DJ Bravo            167.726161
DJ Hussey           175.213675
DPMD Jayawardene    152.032520
Harbhajan Singh     147.607656
IK Pathan           142.580645
JA Morkel           149.882353
JH Kallis           170.562771
JP Duminy           167.760618
JP Faulkner         149.319728
KA Pollard          161.336516
KD Karthik          152.051836
KM Jadhav           144.378698
LRPL Taylor         152.941176
MK Pandey           151.785714
MK Tiwary           140.189125
MS Dhoni            169.607843
NV Ojha             134.868421
P Kumar             109.701493
PP Chawla           120.257235
R Vinay Kumar       108.936170
RA Jadeja           130.729167
RG Sharma           175.668449
RV Uthappa          173.454545
S Badrinath         149.116608
S Dhawan            158.847737
SK Raina            167.467249
SPD Smith           169.303797
SS Tiwary           136.666667
STR Binny           144.036697
V Kohli             181.868132
WP Saha             163.389831
Y Venugopal Rao     148.846154
YK Pathan           159.246575
Yuvraj Singh        171.124031
Name: batsman_runs, dtype: float64

In [25]:
match = pd.read_csv("matches - matches.csv")

In [26]:
new = data.merge(match, left_on ='match_id', right_on='id' )

In [29]:
#here we are arranging player on the basis of highest run scorer on the season. 
new.groupby(['season', 'batsman'])['batsman_runs'].sum().sort_values(ascending=False).reset_index().drop_duplicates(subset = 'season', keep = 'first').sort_values("season")[['season', 'batsman']]

    season       batsman
10    2008      SE Marsh
14    2009     ML Hayden
9     2010  SR Tendulkar
11    2011      CH Gayle
3     2012      CH Gayle
2     2013    MEK Hussey
6     2014    RV Uthappa
17    2015     DA Warner
0     2016       V Kohli
7     2017     DA Warner

In [32]:
#here we are solving another problem
#we would create a PIVOT TABLE where we display no of sixes in each over in 'row' and each team as a 'column'

In [34]:
mask = data['batsman_runs'] == 6
sixes = data[mask]
sixes.pivot_table(index = 'over', columns='batting_team', values='batsman_runs', aggfunc='count')

batting_team,Chennai Super Kings,Deccan Chargers,Delhi Daredevils,Gujarat Lions,Kings XI Punjab,Kochi Tuskers Kerala,Kolkata Knight Riders,Mumbai Indians,Pune Warriors,Rajasthan Royals,Rising Pune Supergiant,Rising Pune Supergiants,Royal Challengers Bangalore,Sunrisers Hyderabad
over,,,,,,,,,,,,,,
1,5.0,3.0,14.0,4.0,10.0,2.0,10.0,9.0,5.0,12.0,1.0,NaN,20.0,3.0
2,17.0,21.0,19.0,6.0,19.0,4.0,13.0,17.0,6.0,7.0,NaN,2.0,28.0,12.0
3,37.0,11.0,30.0,14.0,27.0,3.0,28.0,22.0,6.0,13.0,2.0,1.0,40.0,16.0
4,34.0,17.0,41.0,9.0,36.0,3.0,35.0,28.0,7.0,21.0,5.0,1.0,43.0,8.0
5,41.0,27.0,29.0,11.0,30.0,3.0,25.0,43.0,7.0,23.0,8.0,5.0,40.0,17.0
6,43.0,22.0,27.0,12.0,39.0,3.0,34.0,50.0,3.0,24.0,6.0,5.0,29.0,10.0
7,22.0,11.0,20.0,10.0,19.0,2.0,26.0,18.0,5.0,15.0,1.0,4.0,18.0,13.0
8,25.0,13.0,26.0,6.0,35.0,2.0,25.0,23.0,10.0,24.0,NaN,3.0,34.0,19.0
9,23.0,17.0,32.0,11.0,36.0,1.0,27.0,35.0,9.0,20.0,3.0,1.0,47.0,15.0
10,23.0,14.0,24.0,8.0,29.0,3.0,21.0,22.0,6.0,26.0,8.0,1.0,36.0,12.0
11,36.0,15.0,34.0,5.0,37.0,1.0,34.0,33.0,13.0,30.0,3.0,2.0,47.0,11.0
12,36.0,26.0,38.0,7.0,38.0,3.0,32.0,49.0,5.0,33.0,2.0,2.0,36.0,11.0
13,35.0,23.0,37.0,5.0,47.0,2.0,42.0,51.0,10.0,39.0,7.0,1.0,51.0,19.0
14,45.0,22.0,35.0,8.0,41.0,3.0,31.0,50.0,13.0,38.0,4.0,1.0,53.0,18.0
15,43.0,20.0,28.0,5.0,51.0,4.0,40.0,53.0,13.0,34.0,5.0,7.0,54.0,33.0
16,46.0,21.0,43.0,5.0,59.0,NaN,50.0,66.0,16.0,37.0,5.0,6.0,71.0,22.0
17,51.0,38.0,56.0,7.0,39.0,3.0,55.0,60.0,13.0,45.0,2.0,6.0,61.0,18.0
18,58.0,37.0,44.0,9.0,57.0,4.0,52.0,86.0,12.0,34.0,2.0,9.0,82.0,37.0
19,54.0,23.0,59.0,9.0,53.0,5.0,45.0,72.0,18.0,37.0,14.0,2.0,74.0,42.0
20,68.0,19.0,50.0,4.0,60.0,2.0,34.0,89.0,19.0,26.0,11.0,9.0,71.0,28.0